*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: none;
    outline: none; */

}
button, input{
    cursor: pointer;
}
body{
    background-color: rgb(255, 150, 150);
}
.container{
    border: 2px solid black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    /* justify-content: center; */
    align-items: center;
}
.column{
    display: flex;
    /* flex-direction: column; */
}
.column button{
    width: 2.06rem;
    height: 3rem;
}
.row{
    display: flex;
    padding: 2px;
}
.row button{
    width: 3rem;
    height: 3rem;
}
.display{
    width: 15.1rem;
    height: 2rem;
    font-size: large;
}